<?xml version="1.0" encoding="UTF-8"?>
<!--
 ! vim: set expandtab tabstop=4 softtabstop=4 shiftwidth=4:
 ! **********************************************************************
 ! *                       BIFE - Buil It FastEr                        *
 ! **********************************************************************
 ! * This file is part of BIFE.                                         *
 ! *                                                                    *
 ! * BIFE is free software; you can redistribute it and/or modify it    *
 ! * under the terms of the GNU General Public License as published by  *
 ! * the Free Software Foundation; either version 2 of the License, or  *
 ! * (at your option) any later version.                                *
 ! *                                                                    *
 ! * BIFE is distributed in the hope that it will be useful, but        *
 ! * WITHOUT ANY WARRANTY; without even the implied warranty of         *
 ! * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU   *
 ! * General Public License for more details.                           *
 ! *                                                                    *
 ! * You should have received a copy of the GNU General Public License  *
 ! * along with Hooks; if not, write to the Free Software Foundation,   *
 ! * Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA      *
 ! **********************************************************************
 ! * Created: Mon May 19 00:16:56 ART 2003                              *
 ! * Authors: Leandro Lucarella <luca@lugmen.org.ar>                    *
 ! *********************************************************************+
 ! 
 ! $Id$
 ! 
 !-->

<xmi2code>
  <option key="target" value="*"/>
  <option key="xmi-input" value="menu.xmi"/>
  <option key="config-file" value="xmi2code.config"/>
  <option key="config-file-set" value="false"/>
  <option key="handler" value="umbrello"/>
  <option key="generator-path" value="src"/>
  <option key="use-package-as-dir" value="true"/>
  <option key="indent" value="    "/>
  <option key="files-case" value="preserve"/>
  <option key="generator" value="php.pear"/>
  <option key="template-path" value="."/>
  <option key="php.template" value="xmi2code.tpl.php"/>
  <option key="php.default-code" value="trigger_error('Not implemented!', E_USER_WARNING);"/>
  <option key="php.pear.use-package-in-classnames" value="true"/>
  <option key="php.pear.underscore-in-nonpublic" value="false"/>
</xmi2code>
